h1 {
  text-align: center;
  font-size: 100px;
}

body {
  background: blue;
}

div {
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
}

#sortable {
  list-style-type: none; margin: 0; padding: 0; width: 60%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
  border: 2px solid;
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

img {
  width: 50px;
}
